@use '@carbon/layout';

.addDeviceCont {
    background-color: rgb(237, 237, 237);
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-left: 100px;
}

.editUserScreen {
    background-color: rgb(237, 237, 237);
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    padding-left: 100px;
}

.all-forms {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.pageTitle {
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 15px;
}

.selector {
    margin-bottom: layout.$spacing-05;
    height: layout.$spacing-05;
    margin-left: layout.$spacing-05;
}

.between-lines {
    margin-bottom: layout.$spacing-05;
}

.between-btn {
    margin-top: layout.$spacing-05;
}