.devicesPageCont {
    background-color: rgb(237, 237, 237);
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 50px;
    padding-bottom: 50px;
}



.buttonInfo {
    padding: 15px 25px;
    background-color: #1064fc;
    text-decoration: none;
    color: white;
}

.buttonInfo:hover {
    background-color: #0854ec;
}

.pageTitle {
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 15px;
}

.actionsSection {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    padding: 0 100px;
    margin-top: 10px;
}

.searchStyle {
    width: 50vh;
}

.dataTable {
    width: 150px;
    background-color: transparent;
}

.iconCircle {
    width: 2.5vh;
    height: 2.5vh;
}