.TicketPageCont {
    min-width:fit-content;
    background-color: rgb(237, 237, 237);
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 50px;
    padding-bottom: 50px;
}

.summedTicket{
    background-color: #e5e5e5;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

.codeQR{
    background: white;
    padding: 16px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.ticketBanner {
    margin-top: 10px;
}

.ticketBanner h1{
    text-align: center;
    font-weight: 600;
    font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
   // margin-left: 30%;
   // align-self: center;
}

.ticketBanner h2{
    font-weight: 400;
    font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
    margin-left: 32%;
    align-self: center;
}

.ticketSum{
    align-self: center;
    margin-left: 80px;
    margin-top: 40px;
    display: flex;
}

.ticketTitleCol{
    margin-right: 15px;
    font-weight: 600;
}

.downloadTicket {
    margin-top: 24px;
    text-align: center;
    margin-left: 150px;
}