.mainPageCont {
    background-color: rgb(237, 237, 237);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}

.pageTitle {
    margin-left: 100px;
    margin-top: 50px;
}
.panelContainers {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    justify-content: center;
}

.panelContainer {
    width: 60vh;
    height: 25vh;
    background-color: white;
    border-radius: 15px;
    margin: 0 25px;
    display: flex;
    flex-direction: row;
}

.left {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    flex-direction: column;
}

.right {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 80%;
    margin-top: 25px;
}

.right2 {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    margin-top: 45px;
}

.panelTitle {
    font-size: 3vh;
    font-weight: 600;
}

.panelTitleNumber {
    font-size: 2.5vh;
    font-weight: 600;
    margin-bottom: 30px;
}
.panelTitleNumber2 {
    margin-top: 30px;
    font-size: 6vh;
}

.infoNumbers {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.redSquare {
    width: 15px;
    height: 15px;
    background-color:rgba(255, 0, 0, 0.5);
    margin-right: 10px;
}

.greenSquare {
    width: 15px;
    height: 15px;
    background-color: rgba(0, 255, 0, 0.5);
    margin-right: 10px;
}

.infoNumber {
    font-size: 2vh;
}

.dropdownStyle {
    width: 80%;
    border-bottom: none;
}