.infoPageCont{
    background-color: rgb(237, 237, 237);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    padding-left: 100px;
}

.summarizedContent {
    display: flex;
    margin-top: 5%;
}

.imageBox{
    margin-right: 50px;;
}

.peripheralBanner {
    padding-bottom: 5px;
    border-bottom: 2px solid black;
}

.summaryBox{
    flex: 10%;
}

.peripheralSum{
    padding-top: 45px;
    display: flex;
}

.titleCol {
    margin-right: 5px;
    font-weight: 600;
}